// **************************
// グローバル変数を定義
// **************************

/** ヘッダー **/
$height-header: 48px;

/** フッター **/
$height-footer: 31px;

/** フォント **/
$color-font: #333;

/** テーマ **/
$color-theme: #546e7a;
