// **************************
// グローバル変数を定義
// **************************

/** ヘッダー **/
$height-header: 50px;

/** フッター **/
$height-footer: 31px;

/** フォント **/
$color-font: #333;

/** テーマ **/
$site-theme-color: #546e7a;
